.about {
  background-color: var(--background-primary-color);
  color: var(--primary-color);
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  margin: 0;
  padding: 3.125rem 0 1rem;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 1.25rem;
  text-align: center;
}
.psychologist-photo img {
  width: 80%;
  height: auto;
}
.psychologist-photo {
  text-align: center;
}
.about-content {
  max-width: 17.5rem;
  padding-top: 1.875rem;
}

.about-content em {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
  text-align: start;
}

.about-content .profile-subtitle {
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
}

.about-content hr {
  width: 3.125rem;
  height: 0.1875rem;
  background-color: var(--primary-color);
  border: none;
  margin: 1.25rem auto 1.25rem 0;
}
.about-content .profile-description {
  font-family: "Fraunces", sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .about-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .psychologist-photo {
    max-width: 300px;
  }
  .psychologist-photo img {
    width: 100%;
  }
  .about-content {
  max-width: 410px;
}
}
